<br>
<h1>Enter WhereCode</h1>
<%= form_tag find_path, method: :get do %>
<p>
<%= text_field_tag :code %><br><br>
<%= submit_tag("Submit", name: nil, class: 'cta') %>
</p>
<% end %>
<br>
<p>OR</p>

<%= link_to "Create Your Own", new_code_path, :class => 'cta' %>

<br><br>